.DS_store
.vscode/
node_modules/
creds.js
notes.txt
data/backorderData.txt
public/assets/fonts/HyundaiSansHead-Regular.woff
public/assets/fonts/HyundaiSansHead-Regular.woff2
public/assets/fonts/HyundaiSansText-Regular.woff
public/assets/fonts/HyundaiSansText-Regular.woff2
cookies/cookies0.txt
cookies/cookies1.txt
